<!-- medical_history.html -->
{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Medical History{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#  <!-- Add your medical history content here -->#}
{#<h1>Medical History</h1>#}
{#    <form method="post" action="{% url 'medical_history' %}">#}
{#        {% csrf_token %}#}
{#        <div class="form-group">#}
{#            {{ form.diagnosis.label_tag }}#}
{#            {{ form.diagnosis }}#}
{#        </div>#}
{#        <div class="form-group">#}
{#            {{ form.medications.label_tag }}#}
{#            {{ form.medications }}#}
{#        </div>#}
{#        <div class="form-group">#}
{#            {{ form.allergies.label_tag }}#}
{#            {{ form.allergies }}#}
{#        </div>#}
{#        <div class="form-group">#}
{#            {{ form.surgeries.label_tag }}#}
{#            {{ form.surgeries }}#}
{#        </div>#}
{#        <button type="submit">Save</button>#}
{#    </form>#}
{##}
{#{% endblock %}#}

<!-- medical_history.html -->


<!doctype html>
<html lang="en">

{% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medical History</title>
  </head>
  <body>


     <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MediPlus HMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="nav justify-content-end ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'patient_dashboard' %}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'medical_history' %}">Medical History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_list' %}">Book Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{ patient.user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Something else here</a></li>
          </ul>
        </li>
      </ul>

  </div>
</nav>


      <div class="container mt-5">

        <div class="row">
            <div class="col-md-4">
                <h2>Input your symptoms here!</h2><br>

                <form action=" {% url 'insertData' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Diagnosis" name="diagnosis" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="medications" name="medications" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="Allergies" name="allergies" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control  mt-2" placeholder="Surgeries" name="surgeries" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-2" type="submit">Insert</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <h2>View Medical History</h2>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Diagnosis</th>
                        <th scope="col">Medications given</th>
                        <th scope="col">Allergies</th>
                        <th scope="col">Surgeries</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                      </tr>
                    </thead>
                    <tbody class="table-group-divider">

                    {% for d in data %}
                      <tr>
                        <th scope="row">{{d.id}}</th>
                        <td>{{d.diagnosis}}</td>
                        <td>{{d.medications}}</td>
                        <td>{{d.allergies}}</td>
                        <td>{{d.surgeries}}</td>
                        <td><a href="{% url 'updateData' d.id %}" type="button" class="btn btn-outline-warning">Edit</a></td>
                        <td><a href="{% url 'deleteData' d.id %}" type="button" class="btn btn-outline-danger">Delete</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>


            </div>
        </div>

      </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

</html>